@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html, body {
    padding: 0;
    margin: 0;
}

.wrapper-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.subcontainer1 {
    background-color: #1F2937;
    height: auto;
    padding-bottom: 100px;
}

.subcontainer2 {
    height: auto;
    background-color: white;
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 100px;
}

.subcontainer3 {
    background-color: #E5E7EB;
    height: auto;
}

.subcontainer4 {
    height : auto;
    background-color: white;
}


nav ul{
    display: flex;
    list-style-type: none;
    padding: 20px 550px 80px 550px;
}

nav li{
    margin: 0 10px;
}

.title {
    font-size: 24px;
    color: #F9FAF8;
}

.push-left {
    margin-right: auto;
}

a:link {
    text-decoration: none;
    color: #F9FAF8;
}

a:visited {
    text-decoration: none;
    color: #F9FAF8;
}

.herotextsection {
    display: flex;
    padding: 0px 550px 0px 550px;
}

.herotextsection.flipped {
    flex-direction: row-reverse;
}

.herotextsection .content {
    flex: 1;
    padding: 10px;
}

.heromaintext {
    font-size: 48px;
    font-weight: bold; 
    color: #F9FAF8;
    margin-top: 0px;
}

.herosubtext {
    font-size: 18px;
    color: #E5E7EB;
}

.signupbutton {
    background-color: #3882F6;
    border-radius: 4px;
    color: #F9FAF8;
    border-color: #3882F6;
    padding: 5px 20px 5px 20px;
}

.image {
    background-color: grey;
    width: 600px;
}

.subcontainer2wrapper {
    display: flex;
    justify-content: center;

}

.subcontainer2layout {
    display: flex;
}

.images {
    border: 2px solid blue;
    border-radius: 5px;
    height: 100px;
    width: 100%;
}

.imagetxt {
    list-style-type: none;
    font-size: 18px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    color: grey;
    font-weight: bolder;
}