html, body {
    padding: 0;
    margin: 0;
}

.wrapper-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.subcontainer1 {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 35vh;
}

.subcontainer2 {
    height: 25vh;
    background-color: white;
}

.subcontainer3 {
    background-color: #E5E7EB;
    height: 25vh;
}

.subcontainer4 {
    height : 15vh;
    background-color: white;
}